# Python
__pycache__/
*.py[cod]
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Windows
Thumbs.db

/index.html
assets/

.github/
.agent/
.agents/
.claude/
.gemini/
.opencode/
.windsurf/