# Python
__pycache__/
*.py[cod]
venv/
.env
.env.local
.env.*
*.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Windows
Thumbs.db

/index.html
assets/

.github/
.agent/
.agents/
.claude/
.gemini/
.opencode/
.windsurf

CLAUDE.md
ca-certificates.crt
*.crt

skills-lock.json